langchain
ipykernel
python-dotenv
langchain-community
pypdf
bs4
arxiv
langchain-text-splitters
faiss-cpu
langserve
uvicorn
fastapi
langchain-chroma
langchain_groq
langchain_huggingface
wikipedia
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
streamlit